[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "exr/tinyexr"]
	path = exr/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "ext/tinyexr"]
	path = ext/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
